numpy
streamlit
streamlit-chat
openvino-dev==2023.1.0
transformers==4.32.0
nncf==2.6.0
sentencepiece
onnx>=1.11.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0
accelerate
tiktoken
transformers_stream_generator
einops
bitsandbytes